---
import UrbanInterventionCard from "./UrbanInterventionCard/urban-intervention-card.astro";
import type { LastInterventionsListResponse } from "../../../interfaces/last-interventions-list";

const response = await fetch(
  `${import.meta.env.BACKEND_URL}/interventions/latest`,
);

const interventions: LastInterventionsListResponse[] = await response.json();
---

<div
  class="mt-8 md:mt-12 text-tertiary-color font-semibold [&>p]:px-4 lg:[&>p]:px-32 xl:[&>p]:px-64 [&>p]:text-septenary"
>
  <h2
    class="text-primary text-4xl lg:text-5xl font-semibold text-center mb-4 lg:mb-12 px-4 lg:px-0"
  >
    Actuaciones Urbanísticas
  </h2>
  <p class="text-lg lg:text-xl">
    Algunas intervenciones físico-espaciales de la ciudad de Medellín diseñadas
    para transformar, producir o modificar el suelo urbano y rural que han
    generado conflictividad. Por ejemplo: Construcción del Metro de la 80,
    Construcción del Metroplús, etc.
  </p>
  <p class="text-2xl my-4 lg:my-8">
    Visita algunas de las actuaciones urbanísticas principales.
  </p>
  <div
    class="w-full grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 lg:gap-6 px-4 lg:px-12 xl:px-56"
  >
    {
      interventions.map((intervention) => (
        <UrbanInterventionCard intervention={intervention} />
      ))
    }
  </div>
</div>
