---
const { intervention } = Astro.props;
---

<a
  href={`/interventions/${intervention._id}/datasheet`}
  class="w-full h-[400px] lg:h-[460px] lg:rounded-3xl rounded-xl relative overflow-x-hidden cursor-pointer hover:scale-105 transition-all block"
>
  <figure class="absolute inset-0">
    <img
      src={intervention.image}
      alt={intervention.interventionName}
      class="w-full h-full object-cover"
      loading="lazy"
    />
  </figure>
  <div class="absolute inset-0 bg-quinary opacity-60"></div>
  <div
    class="relative z-10 pt-56 h-full text-white max-w-[380px] md:max-w-[280px] font-semibold flex items-end pb-12 lg:pb-16 px-4 lg:px-8"
  >
    <h1 class="text-[1.79rem] leading-9">
      {intervention.interventionName}
    </h1>
  </div>
</a>
