---
import NewsSeach from "../../components/react/NewsSearch/NewsSearch";
import Layout from "../../layouts/Layout.astro";
---

<Layout>
    <section class="font-semibold">
        <h2
            class="text-4xl lg:text-5xl capitalize text-white bg-quinary px-4 lg:px-16 py-8 lg:py-12"
        >
            Noticias
        </h2>
        <p
            class="text-base md:text-lg text-septenary px-4 xl:px-24 pt-6 lg:pt-12"
        >
            Resumen de los informes noticiosos que documentan los
            acontecimientos conflictivos en el ámbito público relacionados con
            cada actuación urbanística durante un periodo determinado. Se retoma
            como fuente de información el periódico El Colombiano
        </p>
        <div class="px-4 xl:px-16">
            <NewsSeach client:load />
        </div>
    </section>
</Layout>
