---
import { Image } from "astro:assets";
---

<div class="w-full px-4 lg:px-10 mt-8 lg:mt-0">
  <div
    class="poster py-12 md:py-0 px-4 rounded-2xl md:rounded-3xl lg:rounded-[80px]"
  >
    <figure class="absolute inset-0 w-full h-full">
      <Image
        src="/src/assets/Images/main-poster.avif"
        alt="main-poster"
        width={1920}
        height={1080}
        class="w-full h-full object-cover"
      />
    </figure>
    <div class="absolute inset-0 bg-primary opacity-70"></div>
    <div
      class="relative z-10 flex flex-col justify-center h-full text-white max-w-[817px] font-semibold py-4 md:py-16"
    >
      <h1 class="text-5xl md:text-5xl lg:text-6xl">
        Estudios sobre el conflicto urbano asociado a decisiones de ordenamiento
        territorial
      </h1>
      <a
        href="/project"
        class="mt-8 md:mt-11 text-xl lg:text-xl underline underline-offset-8 cursor-pointer"
      >
        Conoce el proyecto
      </a>
    </div>
  </div>
</div>
